<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis的主配置文件 -->
<configuration>
    <!--    在 MyBatis 中通过 <properties> 的属性 resource 来引入 properties 文件。-->
    <properties resource="db.properties"/>
    <!-- 配置环境 -->
    <environments default="mysql">
        <!-- 配置MySQL环境 -->
        <environment id="mysql">
            <!-- 配置事务类型 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源/连接池 -->
            <dataSource type="POOLED">


                <!-- 配置连接数据库的4个基本信息  -->
                <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--                <property name="url" value="jdbc:mysql://localhost:3306/demo"/>-->
                <!--                <property name="username" value="root"/>-->
                <!--                <property name="password" value="P@ss1234"/>-->


                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.jdbcUrl}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>

            </dataSource>
        </environment>
    </environments>

    <!-- 指定映射配置文件的位置 -->
    <mappers>
        <mapper resource="com.cjx.dao/IUserDao.xml"/>
        <mapper resource="com.cjx.dao/RoleMapper.xml"/>
        <mapper class="com.cjx.dao.RoleMapper2"/>
    </mappers>
</configuration>