<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis的主配置文件 -->
<configuration>


    <!--给类取别名，简化输入，方便映射配置文件中使用-->
    <typeAliases>
        <typeAlias type="jack.ckEntity.Student" alias="student"/>
    </typeAliases>

    <!--加载mapper映射配置文件-->
    <mappers>
        <!--        <mapper resource="Student.xml"/>-->
        <!--        <mapper resource="mapper/Student.xml"/>-->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/Student.xml"/>
    </mappers>


    <!-- 指定映射配置文件的位置 -->
    <!--    <mappers>-->
    <!--        <mapper resource="com.cjx.dao/IUserDao.xml"/>-->
    <!--        <mapper resource="com.cjx.dao/RoleMapper.xml"/>-->
    <!--        <mapper class="com.cjx.dao.RoleMapper2"/>-->
    <!--    </mappers>-->
</configuration>